<nav class="navbar navbar-expand-lg navbar-dark mx-4">
  <div
    class="alert alert-success alert-dismissible fade show"
    role="alert"
    *ngIf="success"
  >
    Kindergarten successfully updated!
    <button type="button" class="close" [routerLink]="['/main']"></button>
  </div>
  <div class="modal-body">
    <h1>Edit Kindergarten</h1>
    <div class="card py-3 px-3 bg-secondary text-light">
      <div class="form-group">
        <label for="InputName">Kindergarden Name</label>
        <input
          type="text"
          class="form-control"
          id="InputName"
          placeholder="Enter Kindergarden Name  "
          [(ngModel)]="editData.name"
          name="name"
        />

        <div class="form-group">
          <label for="InputDescription">Desription</label>
          <textarea
            class="form-control"
            id="InputDescription"
            rows="3"
            [(ngModel)]="editData.description"
            name="description"
          ></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="InputEmail">Enter Email</label>
        <input
          type="email"
          class="form-control"
          id="InputEmail"
          placeholder="Enter Email"
          [(ngModel)]="editData.email"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="InputPhone">Enter Phone</label>
        <input
          type="text"
          class="form-control"
          id="InputPhone"
          placeholder="Enter Phone"
          [(ngModel)]="editData.phone"
          name="phone"
        />
      </div>
      <div class="form-group">
        <label for="InputUrl">Enter Url</label>
        <input
          type="text"
          class="form-control"
          id="InputUrl"
          placeholder="Enter Url "
          [(ngModel)]="editData.url"
          name="url"
        />
      </div>
      <div class="form-group">
        <label for="InputOpeningHours">Enter Opening Hours</label>
        <input
          type="text"
          class="form-control"
          id="InputOpeningHours"
          placeholder="Enter Opening Hours "
          [(ngModel)]="editData.opening_hours"
          name="openinghours"
        />
      </div>
      <div class="form-group">
        <label for="InputImageUrl">Enter Image Url</label>
        <input
          type="text"
          class="form-control"
          id="InputImageUrl"
          placeholder="Enter Image Url "
          [(ngModel)]="editData.image_url"
          name="imageurl"
        />
      </div>
      <div class="form-group">
        <label for="InputLatitude">Enter Latitude</label>
        <input
          type="text"
          class="form-control"
          id="InputLatitude"
          placeholder="Enter Latitude "
          [(ngModel)]="editData.latitude"
          name="latitude"
        />
      </div>
      <div class="form-group">
        <label for="InputLongitude">Enter Longitude</label>
        <input
          type="text"
          class="form-control"
          id="InputLongitude"
          placeholder="Enter Longitude "
          [(ngModel)]="editData.longitude"
          name="longitude"
        />
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark dark-bg ml">
  <button
    type="button"
    class="btn btn-secondary"
    data-dismiss="modal"
    [routerLink]="['/main']"
  >
    Close
  </button>
  <button type="button" class="btn btn-primary" (click)="updateKindergarten()">
    Save changes
  </button>
</nav>
